:root {
  --main-txt-font: Roboto, sans-serif;
  --secondary-txt-font: Raleway, sans-serif;
  --main-txt-clr: #212121;
  --secondary-txt-clr: #757575;
  --logo-clr: #2196f3;
  --bgr-clr: #2f303a;
  --secondary-bgr-clr: #f5f4fa;
  --btn-clr: #ffffff;
  --mail-tel-clr: rgba(255, 255, 255, 0.6);
  --card-gap: 30px;
  --card-item: 4;
}

/* Main */
body {
  font-family: var(--main-txt-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-clr);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
}
ul,
ol {
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Links */
.link {
  text-decoration: none;
  color: currentColor;
}
.hover:hover,
.hover:focus {
  color: var(--logo-clr);
}

.link:active {
  color: var(--logo-clr);
}

/* Main header */

/* Logo */

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  width: 145px;
  text-decoration: none;
  font-family: var(--secondary-txt-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-clr);
}
.logo .logo-black {
  color: var(--main-txt-clr);
}
/* Header */

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-list {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  gap: 50px;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list {
  color: var(--main-txt-clr);
  display: flex;
  gap: 50px;
}

.navigation-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list .current {
  color: var(--logo-clr);
}

/* Baner */

.hero {
  background-color: var(--bgr-clr);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  text-align: center;
}
.hero-title {
  max-width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--btn-clr);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
}
.hero-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  min-width: 36px;
  color: var(--btn-clr);
  background-color: var(--logo-clr);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-color: var(--logo-clr);
}
/* Dignity */


.dignity-item {
  width: 270px;
}
.dignity-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-clr);
}

/* Operations */
.operations-list,
.team-list {
  display: flex;
  gap: 30px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--main-txt-clr);
}
/* Team */
.team {
  background-color: var(--secondary-bgr-clr);
}
.team-card {
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card,
.team-title {
  background-color: var(--btn-clr);
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.team-title {
  color: var(--main-txt-clr);
  font-weight: 500;
  margin-bottom: 10px;
}
.team-text,
.team-title {
  font-size: 16px;
  line-height: calc(19 / 16);
}
/* Footer */
.footer {
  background-color: var(--bgr-clr);
}
.address {
  color: var(--mail-tel-clr);
  font-style: normal;
}
.address-link {
  color: var(--btn-clr);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .logo {
  padding: 0;
  margin-bottom: 20px;
}
.footer .container {
  pa
}
.logo-white {
  color: var(--btn-clr);
}

/* Portfolio */
/* Main */

.filter-btn {
  color: var(--main-txt-clr);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: var(--secondary-bgr-clr);
  border-color: var(--secondary-bgr-clr);
}

.filter-btn:hover {
  color: var(--btn-clr);
  background-color: var(--logo-clr);
}
/* Service */

.sevice-subtitle {
  color: var(--main-txt-clr);
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.sevice-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}


.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
  /* margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap)); */
}
.card-item {
  /* flex-basis: calc((100% - (3 - 1) * 30px) / 3); */
  flex-basis: calc(
    (100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item)
  );
  /* flex-basis: calc(100% / var(--card-item) - var(--card-gap)); */
  /* margin-left: var(--card-gap);
    margin-top: var(--card-gap); */
}