:root {
  --main-txt-font: Roboto, sans-serif;
  --secondary-txt-font: Raleway, sans-serif;
  --main-txt-clr: #212121;
  --secondary-txt-clr: #757575;
  --logo-clr: #2196f3;
  --bgr-clr: #2f303a;
  --secondary-bgr-clr: #f5f4fa;
  --btn-clr: #ffffff;
  --mail-tel-clr: rgba(255, 255, 255, 0.6);
}

/* Main */
body {
  font-family: var(--main-txt-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-clr);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: auto;
  outline-color: red;
}

/* Links */
.link {
  text-decoration: none;
  color: currentColor;
}
.hover:hover,
.hover:focus {
  color: var(--logo-clr);
}

.link:active {
  color: var(--logo-clr);
}

/* Main header */

/* Logo */

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  width: 145px;
  text-decoration: none;
  font-family: var(--secondary-txt-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-clr);
}
.logo .logo-black {
  color: var(--main-txt-clr);
}
/* Header */

.header-container {
  display: flex;
  align-items: center;
}

.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list {
  color: var(--main-txt-clr);
  display: flex;
  gap: 50px;
}

.navigation-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list .current {
  color: var(--logo-clr);
}

/* Baner */

.hero {
  background-color: var(--bgr-clr);
}
.hero-container {
  text-align: center;
}
.hero-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--btn-clr);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
}
.hero-button {
  color: var(--btn-clr);
  background-color: var(--logo-clr);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-color: var(--logo-clr);
}
/* Dignity */

.dignity-list {
  display: flex;
  gap: 30px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.dignity-item {
  width: 270px;
}
.dignity-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-clr);
}

/* Operations */
.operations-list,
.team-list {
  display: flex;
  gap: 30px;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--main-txt-clr);
}
/* Team */
.team {
  background-color: var(--secondary-bgr-clr);
}
.team-card {
  display: inline-block;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
}
.team-card,
.team-title {
  background-color: var(--btn-clr);
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.team-title {
  color: var(--main-txt-clr);
  font-weight: 500;
}
.team-text,
.team-title {
  font-size: 16px;
  line-height: calc(19 / 16);
}
/* Footer */
.footer {
  background-color: var(--bgr-clr);
}
.address {
  color: var(--mail-tel-clr);
  font-style: normal;
}
.address-link {
  color: var(--btn-clr);
}
.logo-white {
  color: var(--btn-clr);
}

/* Portfolio */
/* Main */

.filter-btn {
  color: var(--main-txt-clr);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: var(--secondary-bgr-clr);
  border-color: var(--secondary-bgr-clr);
}

.filter-btn:hover {
  color: var(--btn-clr);
  background-color: var(--logo-clr);
}
/* Service */

.sevice-subtitle {
  color: var(--main-txt-clr);
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.sevice-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}
